[submodule "libraries/Adafruit-GFX-Library"]
	path = libraries/Adafruit-GFX-Library
	url = git@github.com:adafruit/Adafruit-GFX-Library.git
[submodule "libraries/Adafruit_LED_Backpack"]
	path = libraries/Adafruit_LED_Backpack
	url = git@github.com:adafruit/Adafruit_LED_Backpack.git
